/* about-img img is wrong. Theres more detail in the original */

html {
  scroll-behavior: smooth;
}
body {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  color: #151041;
}
h1, h2, h3, h4, h5 {
  font-family: 'Nunito', sans-serif;
}

p {
    font-family: 'Nunito', san-serif;
    color: #151041;
    font-weight: 100;
    font-size: 1vw;
}

a {
    text-decoration: none;
    color: #151041;

}

h5 {
  font-size: 2vw;
}

h4 {
  /* font-family: ''; */
    /* color: #8DA9D4; */
    font-size: 1rem;
}

#nav {
  background-color: #C2DF87;
  width: 100%;
  height: 8vh;

}

#bar {
  height: 8vh;
  width: 65vw;
  display: flex;
  margin: 0 auto;
  /* justify-content: center; */
  justify-content: flex-end;

}

#nav-logo {
  height: 50%;
}

.nav-link {
  height: 100%;
  padding-left: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

}

#title-box {
  text-align: center;
  vertical-align: middle;
  height: 100%;
  /* border-style: solid; */
  /* width: 50%; */
}

#title-text-box {
    /* margin: auto; */
}

#title-text {
  font-family: 'Shrikhand', cursive;
  font-size: 6vw;
  text-align: center;
  margin: 0;
  /* margin: -5vh 0; */
  font-weight: 100;
}

#title-left-upper {
    border-right: 0;
    align-items: center;
    justify-content: center;
}

/* schedule: Monica's section */
#title-right-upper {
    border-left: 0;
}

#title-date-text {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  font-size: 3vw;
  margin: 0;
  margin-top: -8%;
  /* margin: 1rem 0; */
  /* margin: auto 0; */
}

.squeezed {
  width: 90%;
  margin: 0 auto;
}

#title-sub-title {
    margin-top: 6%;
    margin-bottom: 0;

    font-style: bold;
    font-size: 2vw;
    text-align: left;
}

.title-sub-text {
    text-align: left;
    margin-left: .5vw;
}

.section-title {
  width: 100%;
  border-bottom: 0.25rem solid black;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  height: 15%;
}

.section-title-text {

    text-align: left;
    font-style: bold;
    font-size: 2vw;
    margin: auto auto;
    margin-left: 2vw;
    /* text-align: center; */
}


/* schedule: Monica's section */
.section-title-text-time {
    text-align: right;
    font-style: bold;
    font-size: 2.5vw;
    margin: auto auto;
    margin-left: 2vw;
    /* text-align: center; */
}

.link-box {
    margin-left: 4vw;
    height: 70%;
}

#foot-img-box {
  background: #85AAB2;
  width: 25%;
  height: 70%;
  position: absolute;
  top: 15vh;
  right: -6vw;
}
/* last-year-text */
#hand-img-box {
  background: #A90F65;
  width: 60%;
  height: 30%;
  position: absolute;
  top: 5vh;
  right: -20%;
  /* overflow-x: hidden; */
}

#hand-img {
  position: absolute;
  left: 2vh;
  top: 2vh;
  width: 100%;
  height: 100%;
}

#bike-img-box {
  /*background: #A90F65;*/
  width: 35%;
  height: 50%;
  position: absolute;
  top: 60%;
  right: -15%;
}

#envision-img-box {
  /*background: #A90F65;*/
  width: 20%;
  height: 20%;
  position: absolute;
  top: 25vh;
  left: -17vh;
}

#foot-img {
  position: absolute;
  left: 2vh;
  top: 2vh;
  width: 100%;
  height: 100%;
}

#bike-img {
  position: absolute;
  left: 2vh;
  top: 2vh;
  width: 100%;
  height: 100%;
}

#envision-img {
  position: absolute;
  transform: rotate(20deg);
  /* left: 2vh; */
  /* top: 2vh; */
  left: 5%;
  top: 5%;
  width: 100%;
  height: 100%;
}

.link-item {
    text-align: left;
    margin-top: 7.5%;
}

/* schedule: Monica's section */
.link-item-schedule {
    text-align: left;
    margin-top: 1vw;
    margin-right: 0vw;
}

.link-item-schedule-2 {
    text-align: left;
    margin-top: 1vw;
    margin-left: 0.7vw;
*/}

.link-title-text {
    text-align: left;
    font-style: bold;
    font-size: 2vw;
    margin: auto auto;

}

/* schedule: Monica's section */
  .link-title-text-time {
    text-align: right;
    font-style: bold;
    font-size: 1.8vw;
    margin: auto auto;
  }

  .link-title-text-time-2 {
    text-align: left;
    font-style: bold;
    font-size: 1.8vw;
    margin: auto auto;
  }

.link-subtext {
    margin-top: 0;
    margin-bottom: auto;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}


#rowSplit1 {
  flex: 0.1;
}
#rowSplit2 {
  flex: 0.9;
}
/*
Creates a rectangular container for the boxes
*/
.container {
  width: 65vw;
  height: 74vh;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* border-left: 0.125rem solid black; */
  /* border-top: 0.125rem solid black; */
  border: 0.25rem solid black;
  /* background-color: white; */
  flex-direction: row;
}

.container-plain {
  width: 65vw;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: rgba(242, 242, 243, 1); */
  flex-direction: row;
}

/* schedule: Monica's section */
.container-plain-schedule {
  width: 100%;
  height: 84%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: rgba(242, 242, 243, 1); */
  flex-direction: row;
}



.half-column {
  flex: 1;
  border-left: 0.25rem solid black;
  border-top: 0.25rem solid black;
  border-right: 0.25rem solid black;
  border-bottom: 0.25rem solid black;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

/* schedule: Monica's section */
.half-column-schedule {
  flex: 1.5;
  /*border-left: 0.25rem solid black;
  border-top: 0.25rem solid black;
  border-right: 0.25rem solid black;
  border-bottom: 0.25rem solid black;*/
  /*border-top: 0.25rem solid black;
  border-bottom: 0.25rem solid black;*/

  flex-direction: column;

  display: flex;
}

.half-column-schedule-small {
  flex: 0.75;
  /*border-left: 0.25rem solid black;
  border-top: 0.25rem solid black;
  border-right: 0.25rem solid black;
  border-bottom: 0.25rem solid black;*/
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}




.half-column-plain {
  flex: 1;

  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  height: 85%;

}

.half-row {
  flex: 1;
  border: 0.25rem solid black;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  height: 50%;
}

.half-row-plain {
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
}



.box {
  height: 32vh;
  width: 22.4vw;
  background-color: #C2DF87;
  border: 0rem solid white;
  overflow: hidden;
  display: flex;
}



.noborder {
  border: 0rem solid white;
}



.box-text {
  margin: auto 4%;
}

.dog-box {
    margin-left: 0vw;
    height: 70%;
}

#dog-img-box {
  background: #C2DF87;
  width: 35%;
  height: 50%;
  position: absolute;
  /*
  top: 43vh;
  right: 10vh;
  */
  top: 55%;
  right: 8%;
}

.ear-box {
    margin-left: 0vw;
    height: 100%;
}

.sponsor-box {
    margin-left: 0vw;
    height: 100%;
}

#ear-img-box {
  background: #85AAB2;
  width: 25%;
  height: 45%;
  position: absolute;
  /*
  top: 8vh;
  left: -20vh;
  */
  top: 10%;
  left: -18%;
}

#sponsor-img-box {
  background: white;
  width: 30%;
  height: 19%;
  position: absolute;
  /*
  top: 8vh;
  left: -20vh;
  */
  top: 1%;
  left: 12.5%;
}

#star-background {
  height: 40%;
  width: 40%;
  position: absolute;
  bottom: -3vh;
  left: -4vw;
  background: #151041;
}

#star-pic {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 2vh;
  bottom: 2vh;
}

#last-year-pic-box {
  height: 50%;
  text-align: center;
}


#whiteboard-pic {
  height: 70%;
  max-width: 80%;
  display: block;
  /* margin-top: 20%; */
  margin: 6% auto;
}

#last-year-winners-box {
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.winner-box {

   margin: auto 5%;
   width: 90%;
   height: 30%;
}

.winner-name {
    margin: 0 0;
    font-size: 1.3vw;
}

#q-a {
  justify-content: space-between;
}

.q-box {
    margin: 0% 5%;
    width: 90%;
    height: 33%;
}

.q-box-question {
  font-size: 1.3vw;
  /* margin-top: auto; */
  margin-bottom: .5rem;
}

.q-box-answer {
  margin-top: 0;
  width: 80%;
}





/*
Classes for the sponsor section
*/

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}





.half-row-div {
  flex: 1;
  margin-left: 15%;
  margin-right: 12%;
  margin-top: 2%;
}

#noborder {
  border: 0rem solid white;
}

#thiccBorderBottom {
  border-bottom: 0.25rem solid black;
  border-right: 0.25rem solid black;
  border-left: 0;
}

#thiccBorderLeft {
  border-top: 0rem solid black;
  border-right: 0rem solid black;
  border-bottom: 0rem solid black;
  border-left: 0;
}

#thiccMargin {
  border: 0rem solid white;
  margin-top: 2.9vh;
  margin-left: 3.65vw;
}

#smallRow {
  flex: 0.43;
  border: 0rem solid white;
  margin-top: 4%;
  margin-left: 15%;
}

#thiccBorderTop {
  border-top: 0.25rem solid black;
  border-right: 0rem solid black;
  border-bottom: 0rem solid black;
  border-left: 0rem solid black;
}

#bottom-bar {
  background-color: #C2DF87;
  width: 100%;
  height: 20vh;
  /* margin-bottom: 6vh; */
}

#bottom-container {
  width: 65vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

#bottom-name {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  /* height: 30vh; */
}

#bottom-name-text {
  font-family: 'Shrikhand', cursive;
  font-size: 7vw;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
}

#bottom-date {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#bottom-date-text {
  font-size: 3vw;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

#bottom-be-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2vw;
}

#be-logo {
  display: flex;
  justify-content: center;
  width: 13%;
}

#be-logo-img {
  height: 50%;
  width: 50%;
}

#bottom-links {
  width: 12%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom-links-text {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1rem;
}

  /* sponsors */
.container-sponsors {
  width: 65vw;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* border-left: 0.125rem solid black; */
  /* border-top: 0.125rem solid black; */
  border: 0.25rem solid black;
  /* background-color: white; */
  flex-direction: row;
}

.s-box {
    margin-top: 10%;
    margin-left: 20%;
    width: 50%;
    height: 8vw;
}

.s-box-description {
  margin-top: 2.5%;
  font-size: 1.3vw;
  margin-left: 20%;
}
/* sponsors */

@media (max-width: 1050px) {
  #dog-img-box {
    width: 45%;
    height: 40%;
    top: 55%;
    right: 0%;
  }


  #ear-img-box {
    width: 33%;
    height: 45%;
    top: 10%;
    left: -20%;
  }

  #sponsor-img-box {
    width: 30%;
    height: 14%;
    top: 3%;
    left: 15%;
  }
}


@media (max-width: 870px) {
  h3 {
    font-size: .8rem;
  }
}

@media (max-width: 780px) {
  #sponsor-img-box {
    width: 27%;
    height: 10%;
    top: 0.8%;
    left: 19%;
  }
}

@media (max-width: 600px) {
  h3 {
    font-size: .6rem;
  }
  #sponsor-img-box {
    width: 27%;
    height: 10%;
    top: 0.5%;
    left: 18.5%;
  }
}

@media (max-width: 40rem) {

  p {
    /* margin-top: 0; */
    font-size: 2vw;
  }

  .link-title-text-time {
    margin-bottom: 2vh;
    font-size: 3vw;
  }

  .link-title-text-time-2 {
    margin-bottom: 2vh;
    font-size: 3vw;
  }


  .container {
    width: 80vw;
  }

  .container-plain {
    width: 80vw;
  }

/* schedule: Monica's section */
  .container-plain-schedule {
    width: 40vw;
  }

  #title-date-text {
    margin: 2rem 0;
  }

  #title-sub-title {
    font-size: 4vw;
  }

  #last-year-text {
    font-size: 1.7vw;
  }

  #star-background {
    width: 32%;
    height: 32%;
  }

  .link-item {
    margin: 2rem 0;
  }

  .link-title-text {
    font-size: 4vw;
  }

  .section-title-text {
    font-size: 4vw;
  }

  .winner-name {
    font-size: 2.3vw;
  }

  .q-box-question {
    font-size: 3vw;
  }

  #dog-img-box {
    width: 43%;
    height: 35%;
    top: 60%;
    right: 0%;
  }


  #ear-img-box {
    width: 32%;
    height: 38%;
    top: 10%;
    left: -10%;
  }

  /*sponsors*/
  .container-sponsors {
    width: 80vw;
  }

  .s-box-description {
    font-size: 1.3vw;
    margin-bottom: .5rem;
    margin-left: 10%;
  }

  .s-box {
    margin: 10% 10%;
    width: 50%;
    height: 10%;
  }
  /*sponsors*/

}



@media (min-width: 62rem) {
  /*sponsors*/
  .container-sponsors {
    width: 65vw;
  }

  .s-box-description {
    font-size: 1vw;
    margin-top: -1rem;
    margin-bottom: 0.5rem;
    margin-left: 10%;
  }

  .s-box {
    margin: 10% 10%;
    width: 6vw;
    height: 6vw;
  }
  /*sponsors*/
}
